<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="com.kangle.study.commands.category">
      </category>
      <command
            name="创建表单"
            categoryId="com.kangle.study.form.CreateFormCommand"
            id="com.kangle.study.commands.CreateFormCommand">
      </command>
      <command
            name="新建文件夹"
            categoryId="com.kangle.study.folder.CreateFolderCommand"
            id="com.kangle.study.commands.CreateFolderCommand">
      </command>
      <command
            name="新建item"
            categoryId="com.kangle.study.item.CreateItemCommand"
            id="com.kangle.study.commands.CreateItemCommand">
      </command>
      <command
            name="新建数据集"
            categoryId="com.kangle.study.dataSet.CreateDataSetCommand"
            id="com.kangle.study.commands.CreateDataSetCommand">
      </command>
      <command
            name="新建bom"
            categoryId="com.kangle.study.bom.CreateBomCommand"
            id="com.kangle.study.commands.CreateBomCommand">
      </command>
      <command
            name="查询"
            categoryId="com.kangle.study.queryItem.CreateItemQueryCommand"
            id="com.kangle.study.commands.CreateItemQueryCommand">
      </command>
      <command
            name="soa创建文件夹"
            categoryId="com.kangle.study.soa.folder.CreateFolderCommand"
            id="com.kangle.study.soa.commands.CreateFolderCommand">
      </command>
      <command
            name="Excel导入文件"
            categoryId="com.kangle.study.excel.ExcelImportCommand"
            id="com.kangle.study.excel.commands.ExcelImportCommand">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.kangle.study.commands.CreateFormCommand"
            class="com.kangle.study.form.CreateFormHandler">
      </handler>
      <handler
            commandId="com.kangle.study.commands.CreateFolderCommand"
            class="com.kangle.study.folder.CreateFolderHandler">
      </handler>
      <handler
            commandId="com.kangle.study.commands.CreateItemCommand"
            class="com.kangle.study.item.CreateItemHandler">
      </handler>
      <handler
            commandId="com.kangle.study.commands.CreateDataSetCommand"
            class="com.kangle.study.dataSet.CreateDataSetHandler">
      </handler>
      <handler
            commandId="com.kangle.study.commands.CreateBomCommand"
            class="com.kangle.study.bom.CreateBomHandler">
      </handler>
      <handler
            commandId="com.kangle.study.commands.CreateItemQueryCommand"
            class="com.kangle.study.queryItem.CreateItemQueryHandler">
      </handler>
      
      <handler
            commandId="com.kangle.study.soa.commands.CreateFolderCommand"
            class="com.kangle.study.soa.folder.CreateFolderHandler">
      </handler>
      
      <handler
            commandId="com.kangle.study.excel.commands.ExcelImportCommand"
            class="com.kangle.study.excel.ExcelImportHandler">
      </handler>
      
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.kangle.study.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
  <!--创建菜单栏-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="新建"
               mnemonic="M"
               id="com.kangle.study.commands.CreateFormMenu">
            <command
                  commandId="com.kangle.study.commands.CreateFormCommand"
                  mnemonic="S"
                  id="com.kangle.study.commands.CreateFormCommand">
            </command>
            <command
                  commandId="com.kangle.study.commands.CreateFolderCommand"
                  mnemonic="S"
                  id="com.kangle.study.commands.CreateFolderCommand">
            </command>
             <command
                  commandId="com.kangle.study.commands.CreateItemCommand"
                  mnemonic="S"
                  id="com.kangle.study.commands.CreateItemCommand">
            </command>
             <command
                  commandId="com.kangle.study.commands.CreateDataSetCommand"
                  mnemonic="S"
                  id="com.kangle.study.commands.CreateDataSetCommand">
            </command>
             <command
                  commandId="com.kangle.study.commands.CreateBomCommand"
                  mnemonic="S"
                  id="com.kangle.study.commands.CreateBomCommand">
            </command>
             <command
                  commandId="com.kangle.study.commands.CreateItemQueryCommand"
                  mnemonic="S"
                  id="com.kangle.study.commands.CreateItemQueryCommand">
            </command>
             <command
                  commandId="com.kangle.study.soa.commands.CreateFolderCommand"
                  mnemonic="S"
                  id="com.kangle.study.soa.commands.CreateFolderCommand">
            </command>
             <command
                  commandId="com.kangle.study.excel.commands.ExcelImportCommand"
                  mnemonic="S"
                  id="com.kangle.study.excel.commands.ExcelImportCommand">
            </command>
         </menu>
      </menuContribution>
     
     
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         
      </menuContribution>
     
      <!--创建右键菜单-->
      <menuContribution 
         locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <command           
                 commandId="com.kangle.study.commands.CreateFormCommand"
                 mnemonic="S"           
                id="com.kangle.study.commands.CreateFormCommand">        
                <!--
                <visibleWhen>               
                <reference               
                definitionId="com.teamcenter.rac.ui.inMainPerspective">
               </reference>          
           </visibleWhen> 
           -->        
        </command>    
     </menuContribution>
   
   </extension>

</plugin>
